<section id="welcome-header">
  <h3>Welcome to Pixly!</h3>
    <p>Just setup ur password and you're in!</p>
     </section>

      <section id="welcome-form">
          <%= form_for(resource, url: user_registration_path(resource)) do |f| %>
            <div class="field form-section">
              <%= f.email_field :email, value: @referee, class: "form-control" %>
            </div>

            <div class="field form-section">
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", autofocus: true, class: "form-control", placeholder: "Enter your password" %>
            </div>

            <div class="field form-section">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm your password" %>
            </div>

            <input type="hidden" name="sender_id" value="<%= @referer %>">
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-lg btn-primary full-width" %>
            </div>
          <% end %>
        </section>