<%= form_for(photo, html: { multipart: true }) do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-section">
    <%= f.file_field :image_url, class: "form-control" %>
  </div>

  <div class="form-section">
    <%= f.collection_select :category_id,  Category.all, :id, :name, { prompt: "Select a category"}, class: "form-control"%>
  </div>

  <div class="form-section">
    <%= f.text_area :title, placeholder: "A short description..", rows: "7", class: "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-danger full-width"%>
  </div>
<% end %>
