<!DOCTYPE html>
<html>
<head>
  <title>Pixly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
      <%= render partial: "layouts/header" %>
  </header>
  <div class="container"> 
    <section id="content-holder" class="">
      <% if notice || alert %>
        <div class="alert alert-info alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= notice || alert %></strong>
        </div>
      <% end %>

      <%= yield %>

    </section>
  </div>

  <%= render "shared/like_photo" %>
  <% if current_user %>
    <%= render "shared/upload_photo" %>
    <%= render "shared/share_image" %>
    <%= render "shared/invite_user" %>
  <% end %>
</body>
</html>
